@page "/"
@implements IDisposable
@rendermode InteractiveServer
@using Db
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<DatabaseContext> DbFactory
@inject AppAuthenticator AppAuthenticator

<PageTitle>Home</PageTitle>

<h1>Login</h1>
<AuthorizeView Context="Account">
    <NotAuthorized>
        <label for="username">Username:</label>
        <InputText name="username" type="text" style="width: 400px" @bind-Value="username"></InputText><br />
        <label for="password">Password:</label>
        <InputText name="password" type="password" style="width: 400px" @bind-Value="password"
            onkeyup="if (event.keyCode == 13) { login.click(); }"></InputText><br />
        <button id="login" @onclick="TryLogin">Login</button><br />
        <p style="color: #f00">@error</p>
    </NotAuthorized>
    <Authorized>
        <p>Name: @user?.Name</p>
        <p>Username: @user?.Username</p>
        <button type="button" class="btn btn-primary" @onclick="TryLogout">Logout</button>
        <p>Organizing Events</p>
        <button @onclick="CreateEvent">Create Event</button>
        <table>
            @foreach (Db.Event event_ in user?.Organizing ?? [])
            {
                <tr>
                    <td><a href="/event/@event_.Id">@event_.Title</a></td>
                    <td><button @onclick="@(async () => await DeleteEvent(event_))">Delete</button></td>
                </tr>
            }
        </table>
        <p>Attending Events</p>
        <table>
            @foreach (Db.Event event_ in user?.Attending ?? [])
            {
                <tr>
                    <td> <a href="/@event_.Id">@event_.Title</a></td>
                </tr>
            }
        </table>
    </Authorized>
    <Authorizing>
        <p>Authorizing in process...</p>
    </Authorizing>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private string username = "";
    private string password = "";
    private string error = "";
    private User? user;
    private DatabaseContext? context;

    protected override async Task OnInitializedAsync()
    {
        context = await DbFactory.CreateDbContextAsync();
        await UpdateUser();
    }

    private async Task TryLogin()
    {
        error = "";
        StateHasChanged();
        if (!(await AppAuthenticator.LoginAsync(username, AppAuthenticator.GetPasswordHash(password))))
        {
            error = "Invalid Username or Password";
            StateHasChanged();
        }
        else
        {
            await UpdateUser();
        }
    }

    private async Task TryLogout()
    {
        await AppAuthenticator.LogoutAsync();
        StateHasChanged();
        await UpdateUser();
    }

    private async Task UpdateUser()
    {
        if (authenticationState != null)
        {
            var authState = await authenticationState;
            if (context != null && authState?.User.Identity?.Name != null)
            {
                user = await context.Users.FindAsync(new Guid(authState.User.Identity.Name));
                if (user != null)
                {
                    await context.Entry(user).Collection(user => user.Organizing).LoadAsync();
                    await context.Entry(user).Collection(user => user.Attending).LoadAsync();
                }
                StateHasChanged();
            }
        }
    }

    private async Task CreateEvent()
    {
        if (context != null && user != null)
        {
            await context.Events.AddAsync(new Db.Event
            {
                Id = new Guid(),
                Title = "New Event",
                OrganizerId = user.Id
            });
            await context.SaveChangesAsync();
        }
    }

    private async Task DeleteEvent(Db.Event event_)
    {
        if (context != null)
        {
            context.Events.Remove(event_);
            await context.SaveChangesAsync();
        }
    }

    public void Dispose() => context?.Dispose();
}