@font-face {
    font-family: 'B612 Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/B612Mono.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'B612';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/B612-Italic.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'B612';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/B612-BoldItalic.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'B612';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/B612-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'B612';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/B612-Bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
button,
input,
select {
    font-family: "B612", "Arial";
    font-size: 20px;
}

body {
    background-color: #000000;
    color: #ffffff;
    margin: 10px;
}

table {
    border-collapse: collapse;
}

thead {
    border-bottom: 1px solid black;
}

td {
    padding: 0 10px 0 10px;
}

td:has(button) {
    padding: 0;
}

button,
input[type=submit] {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin: 1px;
}

button:hover,
input[type=submit]:hover {
    background-color: #ffffff;
    color: #000000;
}

input[type=text],
input[type=password],
input[type=number] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
    outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus {
    background-color: #ffffff;
    color: #000000;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
    outline: none;
}

textarea[type=number]:focus {
    background-color: #ffffff;
    color: #000000;
}

select {
    width: 200px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
    outline: none;
}